In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv("spam.csv", encoding="latin-1")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [61]:
df = df[['v1','v2']]
df.columns = ['label','message']
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [62]:
df['label'] = df['label'].str.strip().str.lower()
df['label'] = df['label'].map({'ham':0,'spam':1})
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [63]:
x = df['message']
y = df['label']

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [65]:
x_tfidf = tfidf.fit_transform(x)

In [66]:
from sklearn.model_selection import train_test_split
x_train ,x_test , y_train , y_test = train_test_split( x_tfidf, y ,test_size = 0.2, random_state = 42)

In [67]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

In [68]:
y_pred = model.predict(x_test)

In [69]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.968609865470852

In [70]:
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test, y_pred)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98       965
           1       1.00      0.77      0.87       150

    accuracy                           0.97      1115
   macro avg       0.98      0.88      0.93      1115
weighted avg       0.97      0.97      0.97      1115

In [71]:
custom_sms = [
    "Congratulations! You have won a free gift. Call now",
    "Hey, are we meeting at 6 pm today?",
    "URGENT! Claim your prize by clicking the link"
]

In [72]:
custom_sms_tfidf = tfidf.transform(custom_sms)
model.predict(custom_sms_tfidf)

array([1, 0, 1])